Content/__ExternalActors__
Content/__ExternalObjects__
Content/FirstPerson
Content/FirstPersonArms
Content/FPWeapon
Content/LevelPrototyping
Content/MedievalDungeon
DerivedDataCache
Intermediate
Saved
Plugins
Binaries
*.bin
*.pdb
*.log
*.pch
.vs
.vscode
*_BuiltData*